<h2>{{model.name}}</h2>
<p class="address"><small>{{model.address}}</small></p>
<p class="phone"><small>{{model.phone_number}}</small></p>

<ul id="menu-items">
  {{#each menu_item in model.menu_items}}
    {{render "menu_item" menu_item}}
  {{/each}}
</ul>
